/*.jumbotron{
  text-align: center;
}
.question{
  font-size: 20px;
  background: red;
}
.title{
  font-size: 40px;
}
.optionrow{
  text-align: left;
}
.option{
}
.option:hover{
  color: rgb(3, 153, 13);
}
*/